html {
    box-sizing: border-box;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
    --color: rgb(151, 155, 155);
    --var-color: rgb(26, 26, 246);
    --log-color: red;
    --code-bkg: rgb(235, 234, 234);
    --code-color: #000; 
    --func-color: red;
    --para: rgb(87, 86, 86);
    --border-color: rgb(121, 119, 119);
    --color-onhover: rgb(0, 65, 0);
}

body {
    margin: 0;
    font-size: 12px;
    font-family: sans-serif;
}

#main-doc {
    /* background-color: lightblue; */
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 70px repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid: 20px;
    grid-template-areas:
    "h h h h h h"
    "n n c c c c"
    "n n c c c c";
}

#h1-container {
    width: 100%;
    background-color: white;
    grid-area: h;
    height: 150px;
    padding: 20px;
    font-size: 2em;
    justify-self: center;
    align-self: center;
    
    position: sticky;
    z-index: 3;
    top: 0;
}

h1 {
    display: block;
    /* background-color: aliceblue; */
    /* padding: 20px; */
    text-align: center;
}

section > p {
    color: var(--para)
    /* color: blue; */
}

/* Nav bar */

#navbar {
    background-color: #fff;
    max-height: 100vh;
    width: 100%;
    font-size: 3em;
}

.navbar {
    border-left: 0.5px solid var(--border-color);
    border-bottom: 40px solid var(--color-onhover);
    width: 331px;
}
.navbar-header {
    font-size: 1.3rem;
    letter-spacing: 3px;

    /* font-weight: 100; */
}

.nav-header {
    position: fixed;
    top: 150px;
    z-index: 3;
    grid-area: n;
    width: 340px;
    overflow: hidden;
}

ul {
    width: calc(100% -10px);
    padding: 10px;
    /* background-color: red; */

}

ul > li {
    width: 100%;
    background-color: #fff;
    height: 45px;
    /* border: 2px black solid; */
    /* text-align: center; */
    justify-content: left;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 1px 0px;
    list-style: none;
}
ul > li > a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 0;
    margin: auto;
    background-color: white;
    color: black;
    font-weight: 100;

}
ul li > a:hover::after {
    content: "#";
    opacity: 0.5;
}

li > a:hover {
    text-decoration: underline;
    font-size: 1.31rem;
    color: var(--color-onhover);
}
#navbar > .secion-header {
    position: relative;
    /* top: 60px; */
    font-size: 0.5em;
    text-align: left;
    display: block;
    margin: auto;
    /* background-color: blue; */
    padding: 20px;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-transform: lowercase;
}
#navbar ::first-letter {
    text-transform: capitalize;
}



.content {
    width: 100%;
    padding: 20px;
    /* background-color: aliceblue; */
    
    grid-area: c;
}
 
p,
code {
    font-size: 1.3em;
    color: rgb(62, 61, 61);
    line-height: 2;
}

.section-header {
    font-size: 1.6em;
    line-height: 1.6;
    text-transform: capitalize;
    letter-spacing: 2px;
}


/* code decoration */
.code-bkg {
    background-color: var(--code-bkg);
    padding: 20px;
    margin-left: 0;
    margin-top: 20px;
}
code > .variable {
    color: var(--var-color);
}
.console-log {
    color: var(--log-color);
}
.expd-outcome {
    opacity: 0.6;
}
.arrays {
    color: green;
}
.func {
    color: var(--func-color);
}
.span-pre > .variable {
    color: var(--var-color);
}


section {
    width: 100%;
    background-color: #fff;
    padding: 10px;
}

.expression {
    font-weight: 450;
    /* font-size: 0.9em; */
    color: var(--code-color);
    letter-spacing: 3.5px;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: var(--code-bkg);
}
.pre1 {
    position: relative;
    width: 100%;
    white-space: pre-line;
    /* background-color: lightblue; */
    padding: 0 10px;
    margin: 0;
}
/* for objects */
.obj-bkg {
    background-color: var(--code-bkg);
    padding: 20px;
    margin-left: 0;
    margin-top: 20px;
    height: 260px;
}
.note {
    width: 100%;
    display: flex;
    background-color: rgb(215, 243, 253);
    margin: 20px 0;
    border-left: 6px solid var(--var-color);
}
.note > p {
    width: 100%;
    font-size: 1rem;
    padding: 10px 40px;
}
.note > div {
    position: relative;
    top: 23px;
    left: 10px;
    padding: 2px 3px;
    background-color: var(--var-color);
    height: 25px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-weight: 800;
    text-transform: lowercase;
    font-size: 1.5em;
}
.note > p > code {
    font-size: 1rem;
}
.span-note {
    background-color: var(--code-bkg);
    font-weight: 500;
    letter-spacing: 3px;
    padding: 2px 0px;
    margin-right: 3px;
    color: #000;
}

.obj {
    margin-left: 40px;
    /* color: var(--func-color); */
}
.padding-left {
    padding-left: 30px;
}
.obj-margin {
    display: block;
    margin-left: 60px;
    margin-bottom: -30px;
}
.obj-margin2 {
    display: block;
    margin-left: 40px;
    margin-bottom: -30px;
}
.pre1-obj {
    width: 100%;
    position: relative;
    /* top: -20px; */
    right: 20px;
    white-space: pre-line;
    padding: 0 10px;
    margin: 0;
}
.obj1 {
    position: relative;
    top: -30px;
    /* background-color: red; */
}
.inner-obj {
    margin-left: 80px;
}
.span-pre {
    padding-left: 20px;
}
a > span {
    color: var(--var-color);
    font-weight: 550;
}

/* Media Query */

@media (max-width: 950px) {
#main-doc {
    width: 100vw;
}
    #h1-container {
            width: 100%;
            background-color: white;
            grid-area: h;
            height: 130px;
            padding: 15px;
            font-size: 1em;
        }
        #navbar {
            /* background-color: blue; */
            height: 500px;

        }
        .nav-header {
            background-color: var(--color-onhover);    
            width: 200px;
            /* background-color: red; */
            height: 100vh;
            margin: 20px;
        }
        .navbar {
            font-size: 1.2px;
            /* background-color: yellow; */
            border-left: 1px solid var(--color-onhover);
            border-bottom: 20px solid var(--color-onhover);
            width: 500px;
        }
        .navbar > li > a {
            font-size: 0.8rem;
            font-weight: 500;
            text-align: left;
        }
}
 
@media (max-width: 550px) {
    .navbar {
            width: 160px;
        }
        .nav-header {
            width: 180px;
        }
}