@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:ital,wght@1,300&display=swap');
:root {
    --secondary-color: rgb(88, 179, 205);
    /* font-color */
    --color-mid-grey: rgb(180, 180, 180);
    /* font-size */
    --navbar-font-size: 1.6em;
    /* background-color */
    --white-color: rgb(255, 255, 255);
    --dark-navy: rgb(1, 37, 61);
    --light-background: rgb(244, 249, 255);
    --medium-background: rgb(230, 227, 227);
    --light-grey-background: rgb(237, 237, 237);
    --dark-grey: rgb(156, 155, 155);
    --darkest-grey: rgb(116, 116, 116);
    --sale-red: rgba(159, 0, 0, 0.8);

    /* background-image */
    --body-background-img: url("images/smartwatches-versa4-sense2-fall22.jpeg");

    /* font-family */
    --header-fonts-family: neuzeit-grotesk, sans-serif;

    /* border bottom */
    --nav-border: rgba(0, 0, 0,0.3);

    /* on hover */
    --hover-primary-color: rgb(7, 247, 255);
}
* {
    box-sizing: border-box;
    list-style-type: none;
    /* outline: 1px solid black; */
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-size: 10px;
    block-size: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    margin-block: 0;
    padding-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    overflow: overlay;
}

.onscrollbar::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.onscrollbar::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    z-index: 5;
}

.onscrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 5px solid rgb(46, 210, 255);
    border-radius: 50px;
    height: 5px;
    width: 5px
        /*or any height and color you want*/
    ;
}

.onscrollbar::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}
.hero-pannel {
    background: var(--body-background-img);
    background-position: 100% 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    block-size: 52rem;
}

a {
    text-decoration: none;
    color: var(--dark-navy);
}

 img{
    inline-size: 163px;
    block-size: 50px;
    display: block;
}
img {
    max-inline-size: 100%;
    max-height: auto;
    display: block;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*
 *              Top Banner                  *
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>****/

.header-top-banner {
    background-color: var(--dark-navy);
    inline-size: 100%;
    block-size: 4.6rem;
    color: var(--white-color);
    font-size: clamp(.8rem, 1.5vw, 1.05rem);
    font-weight: lighter;
    font-family: var(--header-fonts-family);
    margin-block-start: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.4px;
    gap: 0.7rem;
}

header.header-top-banner p {
    line-height: 1.8;
    margin-block: 0;
    padding-block: 0.5rem;
}

header p > sup {
    font-size: 0.6rem
}

header .fa {
    font-size: 1.1rem;    
}

.get-offer-now-container {
    overflow: hidden;
    margin-inline: 0;
}

.get-offer-now {
    transform: translateX(-14%);
    inline-size: 100%;
    display: inline-flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    margin-inline: 0;
    transition: 0.5s all ease-in-out;
}

.get-offer-now span {
    text-transform: uppercase;
    font-weight: 600;
}

.get-offer-now span,
.get-offer-now .fa {
    color: rgb(3, 213, 255);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*
 *              Navbar                      *
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>****/

#navbar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 
    "logo links-left links-left links-left links-right links-right links-right";
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    padding-block: 1rem;
}

.logo {
    grid-area: logo;
    justify-self: start;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
}

.navbar-links-left{
    grid-area: links-left;
    justify-self: end;
    display: flex;
    inline-size: 100%;
    block-size: 70px;
    overflow: hidden;
    justify-content: flex-start;
    justify-content: space-around;
    justify-content: baseline;
    align-items: center;
}

.navbar-links-right {
    grid-area: links-right;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.navbar-links-right li span{
    text-transform: capitalize;
    margin-inline-start: 0.2rem;
    font-family: sofia-pro, sans-serif;
}

.navbar-links-right li p {
    font-size: clamp(0.9rem, 5vw, 1.5rem);
    font-weight: 100;
    font-weight: 400;
    font-family: neuzeit-grotesk, sans-serif;
    color: var(--dark-navy);
    font-style: normal;
    margin-block: 0;
}

.navbar-links-right li:first-child {
    font-size: 1.4rem;
    line-height: 1.6;
}

li .links {
    font-size: var(--navbar-font-size);
    font-family: neuzeit-grotesk, sans-serif;
    color: var(--dark-navy);
    font-style: normal;
    font-weight: 600;
    padding-inline: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 1.6;
} 
.fa {
    font-size: 1.6rem;
}
i.fa.fa-cart-plus {
    color: var(--dark-navy);
}

/* Mobile menu bars */

.hamburger-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "menu-1";
   
}



.hamburger-menu > i.fa-bars {
    grid-area: menu-1;
    transition: display 0.5s ease-in-out;
}

.navbar-links-right .fa-solid {
    display: none;
    font-size: 2rem;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    border-radius: 10px;
}

.navbar-links-right .fa-x {
    color: red;
    grid-area: menu-1;
    transition: display 0.5s ease-in-out;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*
 *      Section-1 (with class of section-1  *
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>****/

.section-1-container {
    position: relative;
    block-size: 50rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-1 {
    block-size: 40%;
    position: relative;
    inset-block-start: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-inline-start: 3.5rem;
    margin-block-start: 3rem;
}

.section-1 header {
    font-size: 1.5rem;
    font-family: neuzeit-grotesk, sans-serif;
    margin-block-end: 0;
}

.section-1 header h2 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.6;
    margin-block-end: 0;
    padding-block: 1rem;
}

.section-1 header h2 + p {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 1.6px;
    line-height: 1.6;
    margin-block: 0;
}

.section-1 header + p {
    inline-size: 30rem;
    font-size: 1.15rem;
    font-family: var(--header-fonts-family);
    font-weight: 200;
    letter-spacing: 1.6px;
    margin-block-end: 0.5rem;
    padding-block: 1rem;
    line-height: 1.6;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*
 *   shop now and get cashback container    *
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>****/

.shop-and-cashback-container {
    position: relative;
    inline-size: 24rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.shop-now-container {
    inline-size: 8rem;
    overflow-x: hidden;
}
.shop-now {
    transform: translateX(-30%);
    inline-size: 10.5rem;
    block-size: 1.6rem;
    padding-inline:0;
    display: inline-flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
}

.shop-now span {
    position: absolute;
    font-size: 1.2rem;
    padding-inline: 1.2rem;
    inset-inline-start: 2rem;
    font-weight: 600;
    font-family: var(--header-fonts-family);
    z-index: 1;
    text-align: center;
}

.shop-now .right {
    position: absolute;
    inset-inline-start: 9.5rem;
    font-size: 1.2rem;
    transition: 0.5s ease-in-out;
    inset-inline-end: 0rem;
}

.shop-now .left {
    position: absolute;
    inset-inline-start: 1.5rem;
    font-size: 1.2rem;
    transform: translateX(0%);
    margin-inline: 0;
    
}

/* get cashback */
.shop-and-cashback-container>div:last-child {
    inline-size: 14rem;
    overflow: hidden;
    z-index: 3;
}

.shop-and-cashback-container>div:last-child .shop-now {
    inline-size: 14rem;
    margin-inline-start: 2.5rem;
}

.shop-and-cashback-container>div:last-child .shop-now span {
    inset-inline-start: 1.2rem;
    text-transform: uppercase;
}

.shop-and-cashback-container>div:last-child .shop-now .right {
    inset-inline-start: 13rem;
}

.shop-and-cashback-container>div:last-child .shop-now .left {
    inset-inline-start: .5rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*
 *              product-selection                    *
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>****/

 .main-doc {
    z-index: 1;
 }

 .product-selection {
    position: relative;
    inset-block-start: -6.6rem;
    z-index: 11;
    
 }

 .navbar-product-selection {
    background-color: coral;
 }

.navbar-product-selection {   
    position: relative;
    inline-size: 100%;
    max-block-size: 4rem;
    background-color: var(--light-grey-background);
    border-block-start: 1px solid transparent;
    position: sticky;
    inset-block-start: 0;
    z-index: 10;
    isolation: isolate;
 }

 .navbar-product-selection-links {
    display: flex;
    inline-size: 75%;
    gap: 0.5rem;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0;
    margin-block-start: 0;
 }

 .navbar-product-selection-links li {
    text-align: center;
 }

 .navbar-product-selection a,
 .filters {
    font-size: var(--navbar-font-size);
    font-family: neuzeit-grotesk, sans-serif;
    color: var(--dark-navy);
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1.6px;
 }

 .filters {
    position: relative;
    background-color: var(--dark-navy);
    color: rgb(255, 255, 255);
    inline-size: 20%;
    padding-block: 1.5rem;
    inset-inline: -1rem;
 }

 .navbar-product-selection a:not(.smartwatches) {
    padding-block: 0.5rem;
    inline-size: 50px;
    opacity: 0.8;
 }
 .smartwatches {
    border-bottom: 3px solid rgb(88, 179, 205);
    padding-block-end: 0.4rem;
 }

/* slogan */

aside.slogan {
    inline-size: 100%;
    block-size: 10rem;
    background-color: rgb(200, 221, 255);
    margin-block-start: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan p {
    font-size: 1.3rem;
    inline-size: 100vmin;
    text-align: center;
    font-family: var(--header-fonts-family);
    letter-spacing: 1.5px;
    font-weight: 600;
    line-height: 1.6;
    opacity: 0.9;
    
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*
 *              Watch collection                   *
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>****/

 .watch-collection-container {
    inline-size: 90%;
    padding-inline: 1rem;
    padding-block: 2rem;
    margin-inline: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: 1fr;
    grid-template-areas: 
    "slogan slogan slogan slogan"
    "watch1 watch2 watch3 watch4"
    "iframe iframe iframe iframe";
 }

 .watch-1 {
    grid-area: watch1;
 }
 .watch2 {
    grid-area: watch2;
 }

.watch-collection-container h2 {
     font-size: 4rem;
     font-family: var(--header-fonts-family);
     font-weight: 500;
     text-transform: capitalize;
     text-align: center;
     letter-spacing: 1.8px;
    grid-area: slogan;
 }

iframe {
    inline-size: 100%;
    grid-area: iframe;
    margin-block-start: 4rem;
    margin-inline-end: 3rem;
    display: none;
}

.video-player-background {
    position: relative;
    top: 3rem;
    inline-size: 100%;
    block-size: 39rem;
    background: 
        url("./images/videos/video-player-image.jpeg")
        top right / 100% 100% 
        no-repeat
        padding-box
        content-box;
        grid-area: iframe;
        z-index: 1;
        margin-block-end: 2rem;
}
.video-play {
    position: absolute;
    inset-inline: 50%;
    inset-block: 50%;
    inline-size: 3rem;
    block-size: 3rem;
    background-color: rgb(255, 66, 129);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.fa-play {
    font-size: 1.4rem;
    color: var(--white-color);
}

.video-player {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "iframe";
}

.watches {
    position: relative;
    inline-size: 18rem;
    padding-block: 2rem;
    block-size: 37rem;
    background-color: var(--light-grey-background);
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    border-radius: 0.5rem;
    margin-block: 0;
    padding-block: 0;  
}

figure {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
}

figcaption {
    position: absolute;
    inset-block-start: 0;
    color: var(--white-color);
    font-size: 0.8rem;
    font-weight: 400;
    font-family: var(--header-fonts-family);
    text-transform: uppercase;
    letter-spacing: 1.6px;
    inline-size: 3.5rem;
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    background-color: var(--secondary-color);
    text-align: center;
    justify-self: start;
}

figure img {
    inline-size: 240px;
    block-size: 240px;
    display: block;
    margin-block: 1.5rem;
  
}

.name-and-price {
    inline-size: 100%;
    position: relative;
    inset-block-end: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
}

.name-and-price  h3,
.name-and-price p {
    margin-block: 0;
    inline-size: calc(100% - 20%);
    line-height: 1.8em;
    text-align: center;
}
.watch-options {
    inline-size: fit-content;
    block-size: 2rem;
    display: flex;
    gap: 0.8rem;
    margin-block: 0;
    justify-content: center;
    align-items: center;
}

.watch-options img {
    inline-size: 1rem;
    block-size: 1rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    align-items: center;
    margin-block: 0rem;   
}

:is(figure > .name-and-price) h3, h3 + p, label[for="compare"]{
    font-size: 1rem;
    color: var(--dark-navy);
    font-weight: 600;
    text-transform: capitalize;
    font-family: var(--header-fonts-family);
}

figure .compare {
    justify-self: flex-end;
    block-size: 1rem;
    padding-inline: 1rem;
    padding-block: 1rem;
    border-top: 1px solid rgb(212, 212, 212);
    inline-size: calc(100% - 2rem);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    inset-block-end: 4rem;
}

.compare > label {
   align-self: center;
   text-transform: uppercase;
}

.shop-outerst-main-container {
    inline-size: calc(100% - 1rem);
    margin-block: 0.5rem;
    padding-inline: 0.5rem;
    display: none;
}

.shop-main-container-1 {
    position: relative;
    inline-size: 100%;
    padding-block: 0.5rem;
    block-size: 3rem;
    background-color: var(--sale-red);
    box-shadow: 2px 2px 2px 2px rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.3rem;
}

.shop-main-container-2 {
    inline-size: 5.5rem;
    overflow: hidden;
}

:is(.shop-main-container-1) .shop-container-3 {
    display: flex;
    inline-size: 6rem;
    block-size: 1.5rem;
    gap: 1.3rem;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(22%);
    transition: 0.3s all ease-in-out;
} 
.shop-btn {
    font-size: 1.1rem;
    color: var(--white-color);
}

.shop-container-3 p {
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--header-fonts-family);
    padding-block: 1rem;
    margin-inline-start: 0.1rem;
    color: var(--white-color);
    letter-spacing: 1.6px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*
 *              footer                      *
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>****/

 footer {
    position: relative;
    inset-block-end: 0;
    z-index: -3;
 }

.footer-container {
    padding-block-start: 2rem;
    inline-size: calc(100% - 4rem);
    background-color: var(--medium-background);
    padding-block: 1rem;
    padding-inline: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: 1fr;
    gap: 1rem;
    grid-template-areas: 
    "email email email social-media social-media social-media"
    "support-and-community legal partners company health ."
    "countries countries countries countries countries countries";
    z-index: 0;
}

.toplayer {
    inline-size: 100%;
    font-size: 0.8rem;
    font-family: var(--header-fonts-family);
    font-weight: 100;
    block-size: 4rem;
    background-color: var(--dark-grey);
    z-index: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    opacity: 0.8;
}

.toplayer span {
    font-weight: 500;
    letter-spacing: 1px;
}

.toplayer p a,
.toplayer p a:visited {
    color: black;
    border-bottom: 1px solid black;
    padding-block-end: 0.1rem;
    font-weight: 600;
    opacity: 1;
}

.marketing-container {
    display: flex;
    flex-direction: column;
    inline-size: 70%;
    background-color: var(--medium-background);
    grid-area: email;
}

.email .fas{
    position: absolute;
    inset-block-end: 1.2rem;
    inset-inline-end: 0;
    font-size: 0.8rem;
    z-index: 1;
    color: var(--color-mid-grey);
}

.footer-slogan {
    font-size: 1.3rem;
    font-weight: 600;
    margin-block-start: 1;
    letter-spacing: 1.1px;
    font-family: var(--header-fonts-family);
    color: var(--dark-navy);
    text-transform: lowercase;
    padding-block: 0.5rem;
} 

.footer-slogan::first-letter {
    text-transform: capitalize;
}

.footer-slogan {
    margin-block-end: 0;

}
 
.email {
    position: relative;
}

.email > .label{
    position: relative;
    inset-block-start: 2.5rem;
    transition: 0.5s all ease-in-out;
    color:  var(--color-mid-grey);
    padding-block: 0.5rem;
    font-family: var(--header-fonts-family);
    font-size: 1.1rem;
    text-transform: none;
    letter-spacing: 1.2px;
    line-height: 1.6;
}

form input {
    inline-size: calc(100% - 1.1rem);
    border: none;
    border-bottom: 1px solid black;
    font-weight: 100;
    padding-block-start: 1rem;
    padding-block-end: 1.5rem;
    padding-inline-start: 1rem;
    background-color: var(--medium-background);
}

input:focus {
    outline: none;
}

form input::placeholder {
    text-align: right;
    font-size: 1rem;
}

/* footer social media */

.social-media {
    inline-size: 65%;
    display: flex;
    flex-direction: column;
    grid-area: social-media;
}

.social-media h2 {
    font-size: 1.6rem;
    font-family: var(--header-fonts-family);
    color: var(--dark-navy);
    letter-spacing: 1.2px;
}

.social-media h2::first-letter {
    text-transform: capitalize;
}

/* container for fa-brands */
.social-media-links {
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
    padding-inline-start: 0;
}

.social-media-links li:not(:first-child) {
    padding-inline-start: 2rem;
}

footer ul a {
    font-weight: 500;
}

.support-and-community-container h2 {
    inline-size: 60%;
    line-height: 1.6;
}

.footer-links {
    padding-inline-start: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block-start: 2rem;
}

footer section h2,
.footer-links {
    font-family: var(--header-fonts-family);
    font-size: 0.9rem;
    text-transform: capitalize;
    letter-spacing: 1.2px;
}

footer section h2:not(.social-media > h2) {
    color: var(--color-mid-grey);
}

.support-and-community-container {
    grid-area: support-and-community;
}

.legal-container {
    grid-area: legal;
}

.partners-container {
    grid-area: partners;
}

.company-container {
    grid-area: company;
}

.health-solutions-container {
    grid-area: health;
}

.countries {
    padding-inline: 1rem;
    block-size: 3rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-family: var(--header-fonts-family);
    text-transform: capitalize;
    grid-area: countries;
    justify-self: end;
}

.countries p {
    letter-spacing: 1px;
    font-size: 1rem;
    border-bottom: 2px solid black;
    padding-block-end: 0.2rem;
}

.countries img {
    inline-size: 3rem;
    max-block-size: 2.5rem;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*
 *              on hover                    *
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>****/

#navbar-container:hover {
    box-shadow: 1px 1px 20px 5px var(--nav-border);
    background-color: white;
    transition: 0.3s all ease-in-out;
}

.links:hover,
.navbar-product-selection-links li a:not(.smartwatches):hover {
    border-bottom: 3px solid var(--secondary-color);
    padding-block-end:0.4rem;
    opacity: 1;
}

.shop-now:hover {
    transform: translateX(-9%);
    transition: 0.5s ease-in-out;
}

.get-offer-now:hover {
    transform: translateX(15%);
    transition: 0.5s;
}


.watches:hover {
    transform:  scale(1.2);
    box-shadow: 2px 2px 10px rgba(4, 4, 4, 0.2);
    transition: 0.6s all ease-in-out;
    z-index: 1;
}

:is(.shop-main-container-1) .shop-container-3:hover {
    transform: translateX(0%);
    transition: 0.3s all ease-in-out;
}

.shop-main-container-1:hover {
    box-shadow: 1px 1px 1px 2px rgba(4, 4, 4, 0.2);
}

/* footer hover */

.social-media-links .fa-brands:hover {
    color: var(--hover-primary-color);
    transition: 0.5s all ease-in-out;
}

.toplayer  p a:hover {
    color: var(--hover-primary-color);
    transition: 0.5s all ease-in-out;
    border-bottom-color: var(--hover-primary-color);
}

footer ul a:hover:not(.social-media a) {
    padding-block-end: 0.2rem;
    border-bottom: 2px solid var(--dark-navy);
}

.footer-background {
    display: none;
    block-size: 10rem;
    background-color: var(--dark-navy);
}

.dropdown-content {
    display: none;
    padding-inline: 2rem;
}

.fa-angles {
    display: none;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*
 *              Media Quary!                   *
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>****/

@media only screen and (max-width: 950px) {
    body {
        max-inline-size: 100%;
        overflow-x: hidden;
    }

    .hero-pannel {
        max-inline-size: 100%;
        background-size: 90%;
        block-size: 50rem;
        background-position: left -5rem top 5rem;
        background-repeat: no-repeat;
        background-color: rgb(240, 247, 251);
        box-shadow: 0px 0px 5px 12px #282a2d;
        -moz-box-shadow: 0px 0px 5px 12px #282a2d;
        -webkit-box-shadow: 0px 0px 5px 2px #282a2d;
    }

    #navbar-container {
        position: relative;
        inline-size: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "logo links-right links-right"
            "links-left links-left links-left"
            "links-left links-left links-left";
        justify-items: center;
        align-items: start;
        gap: 0;
        padding-inline-start: 0;
            
    }

    .logo,
    .navbar-links-left {
        inset-inline-start: 1rem;
    }

    .logo,
    .navbar-links-right {
        position: relative;
        inset-block: 1rem;
    }

    .navbar-links-left {
        display: none;
        position: absolute;
        inset-block-end: 0rem;
        margin-block-start: 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding-block: 1.5rem;
        block-size: 100%;
    }

    .navbar-links-left li{
        padding-block: 0.5rem;
        inline-size: 100%;
    }
     
    .navbar-links-left li .links {
        padding-inline: 0;
    }
    


    .navbar-links-right {
        position: relative;
        justify-content: flex-end;
        align-items: center;
        margin-inline-end: 1.5rem;
        padding-inline: 0.5rem;
    }
    
    .navbar-links-right li {
        position: relative;
        padding-inline: 0;
        margin-inline: 0;
        inset-inline-start: 1rem

    }

    .navbar-links-right > li p {
        position: absolute;
        inset-block-start: -1rem;
        inset-inline-start: -4rem;
        inline-size: 6rem;
        font-size: 1.1rem;
    }

    .navbar-links-right #fa-user,
    .navbar-links-right #fa-user .fa {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-menu i.fa-bars {
        display: block;
    }
   
    .section-1-container {
        block-size: 50%;
    }
    .section-1 {
        align-self: flex-end;
    }

    .section-1  header h2 {
        font-size: 0.9rem;
    }

    .section-1 header p:first-of-type {
        font-size: 1.7rem;
    }

    .shop-and-cashback-container .middle {
        font-size: 1rem;
    }

    .navbar-product-selection-links {
        inline-size: 100%;
        font-size: 0.5rem;
        margin-inline-start: 0;
        margin-inline-end: 0;
        justify-content: space-around;
    }
    
    .navbar-product-selection-links > li:nth-last-of-type(-n+2) {
        display: none;
    }
    .filters {
        justify-self: flex-start;
        inset-inline: -3rem;
        inline-size: 30%;
    }

    /* Watches grid reduced to two columns  */
    
    .watch-collection-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "slogan slogan"
            "watch1 watch2" 
            "watch3 watch4"
            "iframe iframe";
        justify-items: center;
    }

    figure img {
        inline-size: 180px;
        block-size: 180px;
        margin-block: 0.5rem;

    }
    
    .watches {
        block-size: 25rem;
    }

    .watches:hover {
        transform: scale(1);
        box-shadow: none;
    }

    .watches figure {
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    div.compare {
        padding-block-start: 8px;
        padding-block-end: 0px;
        justify-self: center;
        align-self: center;
    }

    .compare label[for="compare"] {
        color: var(--darkest-grey);
        letter-spacing: 1px;
        font-size: 0.8rem;
    }

    /* footer */

    .toplayer p {
        inline-size: 90vw;
        line-height: 1.6;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-inline-size: 100%;
        background-color: var(--medium-background);
    }

    input#email {
        padding-block: 0.9rem;
    }
    .email .fas {
        inset-block-end: 0.7rem;
    }


    /* Accordian set up */

   .footer-container {
        display: flex;
        flex-direction: column;
        inline-size: 100%;
        padding-inline: 0;
        gap: 0;
   }

   .social-media {
        margin-block: 2.5rem;
   }

   .social-media li a {
     font-size: 3rem;
   }

   section.accordian-container  {
        margin-block: 0px;
        line-height: 0;
        align-items: center;
        max-inline-size: 100%;
        gap: 0;
        border-bottom: 1px solid rgb(208, 208, 208);
   }

    section.accordian-container > :not(hr) {
        padding-inline: 1rem;
        max-inline-size: 100%;
   }

   .support-and-community-container h2.accordian-header {
        inline-size: calc(100% - 2rem);
   }

   .accordian-container h2.accordian-header {
        position: relative;
        color: var(--dark-navy);
        padding-block: 2rem;
        margin-block: 0;
        margin-block-end: -3rem;
        margin-inline: 0;
        font-size: 1.005rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;   
   }

   .accordian-header::before {
        content: "\02795";
        position: absolute;
        inset-inline-end: 1rem;
        inset-block-start: 50%;
        font-size: 1.5rem;
        transform: translateY(-50%);
        color: var(--dark-navy);
   }

   .accordian-container.active {
        background-color: white;
   }

   .accordian-content{
        max-block-size: 0;
        inline-size: 100%;
        overflow: hidden;
        opacity: 0;
   }
  
   .accordian-content.active{
        max-block-size: 30%;
        inline-size: 100%;
        background-color: white;
        opacity: 1;
        gap: 0;
        padding-block-start: 1rem;
   }

    .accordian-header.active::before {
        content: "➖";
        font-size: 1.5rem;
        font-weight: 800;
    }

   

   .accordian-content.active li a {
        inline-size: 100%;
        font-weight: 550;
        margin-inline-start: 1rem;
        line-height: 1.8;
        font-size: 1.1rem;
   }

   .accordian-content.active li {
        padding-block: 0.5rem;
   }

   .accordian-content.active li a:hover {
        max-inline-size: 50%;
    /* border-bottom: none; */
   }

   .accordian.content.active {
        background-color: white;
   }

   .footer-container > section {
        max-inline-size: 100%;
        position: relative;
        padding-inline-start: 1.5rem;
    
   }

    .countries {
        position: relative;
        justify-content: flex-start;
        margin-block: 1rem;
        inset-inline-start: 1rem;
    }

    .countries p {
        font-size: 0.8rem;
        font-weight: 600;
    }

    .social-media-links {
        margin-block: 1rem;
        font-size: 2.5rem;
    }

    .social-media h2 {
        margin-block: 1rem;
        font-size: 1.25rem;
    }

    .social-media-links li:not(:first-child) {
        padding-inline-start: 1rem;
    }

    .footer-background {
        display: block;
    } 

    /* The show and show-2 class is used for js  */

    .dropdown-content.show {
        display: block;
    }

    .fa-x.show-2 {
        display: block;
        /* border: 2px solid blue; */
        border-radius: 10px;
    }

    i.fa-bars.show-2 {
        display: none;
    }

    #navbar-container.show-2 {
        block-size: 18rem;
        background-color: white;
        position: sticky;
        inset-block-start: 0;
        z-index: 10;
    }

    .navbar-links-left.show-2 {
        display: block;
        background-color: white;

    }
}

@media only screen and (max-width: 675px) {
    
    .hamburger-menu i.fa-bars {
            display: inline;
    }

    .product-selection {
        max-inline-size: 100vw;
    }

    .header-top-banner {
        display: flex;
        flex-direction: column;
        block-size: fit-content;
        /* padding-inline: 1rem; */
        padding-block: 1rem;
        text-align: center;
        overflow-x: hidden;
    } 

    .hero-pannel {
        background-position: left 0rem top 12rem;
    }

    .navbar-links-right {
        gap: 1rem;
        gap: 0.8rem;
    }

    .images img {
        inline-size: 110px;
        block-size: 40px;
    }

    i.fa.fa-cart-plus {
        font-size: 1.5rem;
        margin-inline: 0.5rem;
    }

    .navbar-links-right li p {
        position: relative;
        inset-inline-start: 1.5rem;
        inset-block-start: 0rem;
    }

    .navbar-links-right .fa-solid {
        font-size: 1.6rem;
    }

    .section-1-container {
        max-inline-size: 100%;
        margin-block-end: 1rem;
    }
    
    .section-1 {
        inset-block-start: -2rem;
        max-inline-size: 100%;
        margin-inline-start: 1rem;
        justify-content: center;
        align-items: flex-start;
        font-size: 2rem;
    }

    .section-1 p {
        max-inline-size: 100vmin;
        font-size: 1rem;
    }
    
    .section-1 header h2 {
        font-size: 1rem;
    }

    .section-1 header h2 + p {
        font-size: 1rem;
    }

    .shop-and-cashback-container>div:last-child {
        inline-size: 13rem;
    }

    .shop-and-cashback-container>div:last-child .shop-now {
        inset-inline-start: 10rem;
    }

    .shop-and-cashback-container>div:last-child .shop-now .right {
        inset-inline-start: 12rem;
    }

    .navbar-product-selection-links li:not(li:nth-child(-n + 2)) {
        display: none;
    }

    .filters {
        inline-size: 50%;
        margin-inline-start: -1rem;
        /* padding-block: 1rem; */
    }

    a.all-products-links {
        position: relative; 
        inset-inline-end: 1.5rem;
        justify-self: center;
        padding-block: 2rem;
    }

    .navbar-product-selection-links li a:not(.smartwatches):hover {
        border: none;
    }

    .video-player-background {
        block-size: 20rem;
    }
    .watch-collection-container {
        max-inline-size: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "slogan slogan"
            "watch1 watch2"
            "watch3 watch4"
            "iframe iframe";
        justify-items: center;    
        align-items: center;
        margin-inline: 1rem;
        padding-inline: 0;
        gap: 2rem 1rem;
    }

    .watch-collection-container h2 {
        font-size: 1.5rem;
    }
    .watches {
        inline-size: 10rem;
        block-size: 22.5rem;
        margin-inline: 0;
    }

    .watches .name-and-price h3,
        .watches .name-and-price h3 + p {
        font-size: 0.8rem;
    }

    figure img {
        inline-size: 150px;
        block-size: 150px;
    }

    .watch-collection-container .watcheds figure {
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .dropdown-content {
        position: relative;
        inset-block-end: 0.5rem;
        display: block;
        margin-block-start: 0;
        padding-block: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        display: none;
    }

    .dropdown-content li {
        block-size: 2rem;
        padding-block: 1rem;
        margin-block: 0.5rem;
        font-weight: 600;
    }

    .dropdown-content li .dropdown-content-links {
        font-size: 1rem;
        padding-block: 0.2rem;
        font-family: var(--header-fonts-family);
        text-transform: capitalize;
        opacity: 0.75;
    }

    .all-products-links label {
        position: relative;
        margin-inline-end: 0.5rem;
        inset-block-end: 0.5rem;
        font-size: 0.85rem;
    }

    .dropdown-content li .dropdown-content-links:hover {
        opacity: 1;
        border-bottom: 2px solid var(--secondary-color);
    }

    .all-products-links .fa-solid {
        color: red;
        font-size: 1.5rem;
    }

    .fa-angles {
        position: relative;
        display: inline-flex;
        inset-block-end: 0.2rem;
    }

    .fa-angle-down {
        display: none;
    }

    .all-products-links .fa-angle-down.show {
        display: inline;
    }

        /* The show and show-2 class is used for js  */
    
        .dropdown-content.show {
            display: block;
        }
    
        .fa-x.show-2 {
            display: block;
        }
    
        i.fa-bars.show-2 {
            display: none;
        }
    
        #navbar-container.show-2 {
            block-size: 18rem;
            background-color: white;
            position: sticky;
            inset-block-start: 0;
            z-index: 10;
        }
    
        .navbar-links-left.show-2 {
            display: block;
            background-color: white;
    
        }
}
/* last */
@media only screen and (max-width: 375px) {
    
    .navbar-links-right {
        gap: 0.5rem;
        justify-content: end;
    }

    .navbar-links-right >li p{
        justify-self: flex-start;
        margin-inline-end: 1rem;
    }
    
    .hero-pannel {
        background-position: left 0rem top 14rem;
    }

    .shop-and-cashback-container>div:last-child {
        inline-size: 14rem;
    }

    .shop-and-cashback-container>div:last-child .shop-now .right {
        inset-inline-start: 11.5rem;
    }
}            

